<p>product works!</p>
<div class="text-center">
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLinkActive="active"
                  >Choose Product from below list</a
                >
                <select class="form-select" aria-label="Default select example" 
                style="width:300px;">
                  <option selected>Open this select menu</option>
                  <option>Mobile</option>
                   <option>Clothes</option>
                   <option>Utensils</option>
                   <option>Furniture</option>
                  <option>Other</option>
             </select>
              </li>

            </ul>
          
  
          
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  