<p>customer-create works!</p>
<a href="login">Login Here</a>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h2 class="mb-4 pb-2 pb-md-0 mb-md-5">Customer Registration</h2>
              <form>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                        <label class="form-label" for="firstName">Enter Name</label>
                      <input type="text" name="txtname" id="firstName" class="form-control form-control-lg" [(ngModel)]="customerDetails.cust_name"/>
                      
                    </div>
  
                  </div>
                  
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                        <label class="form-label" for="emailAddress">Email</label>
                      <input type="email"  name="txtemail" id="emailAddress" class="form-control form-control-lg"  [(ngModel)]="customerDetails.cust_email" />
                      
                    </div>
  
                  </div>



                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example8">Address</label>
                        <input type="text" name="txtaddress" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="customerDetails.cust_address"/>
                       
                      </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <h6 class="mb-2 pb-1">Gender: </h6>
  
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="femaleGender"
                        [(ngModel)]="customerDetails.cust_gender"
                        value="option1"
                        checked
                      />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="maleGender"
                        [(ngModel)]="customerDetails.cust_gender"
                        value="option2"
                      />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                      <input type="tel" name="txtmobile" id="phoneNumber" class="form-control form-control-lg"  [(ngModel)]="customerDetails.cust_mobile" />
                     
                    </div>
  
                  </div>



                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                        <label class="form-label" for="password">Password</label>
                      <input type="password" name="txtpassword" id="password" class="form-control form-control-lg"  [(ngModel)]="customerDetails.cust_password"/>
                     
                    </div>
  
                  </div>


                </div>


                <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3cg"
                    />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                  </div>

                  <div class="form-group" class="d-flex justify-content-center">
            
                    <button (click)="addCustomer()" class="btn btn-primary"  >
                      Register
                    </button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a class="fw-bold text-body"><u>Login here</u></a></p>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
     [(ngModel)]="customerDetails.cust_name"
     [(ngModel)]="customerDetails.cust_address"
     [(ngModel)]="customerDetails.cust_gender"
      [(ngModel)]="customerDetails.cust_mobile"
  -->