<p>company works!</p>
<div class="text-center">
    <!--<img src="assets/company1.jpg" class="rounded"  width="500px" height="300px" alt=" ">-->
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/issue"
                routerLinkActive="active"
                >View Status</a
              >
            </li>
           <!-- <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/company"
                routerLinkActive="active"
                >CheckReport</a
              >
            </li>-->
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/createCustomer"
                routerLinkActive="active"
                >AddCustomer</a
              >
            </li>
           <!-- <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/courierPartner"
                routerLinkActive="active"
                >Add CourierPartner</a
              >
            </li>-->
            
      
            <!--<li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                routerLink="/company"
                routerLinkActive="active"
                >Update IssueStatus</a
              >
            </li>-->
            
            
          </ul>
          
  
          
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>

  <!--
<div class="container">
  <div class="form-group">
    <label for="txtempname">Courier Partner Name</label>
    <input
      type="text"
      class="form-control"
      id="txtempname"
      placeholder="Enter Name"
    />
  </div>
</div>

<div class="col-md-6 mb-4 pb-2">
<div class="form-outline">
    <label class="form-label" for="phoneNumber">Phone Number</label>
    <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                     
</div>
</div>

  <div class="form-group">
    <button (click)="addCp()" class="btn btn-primary">
      Add Employee
    </button>
  </div>
</div>



  -->